

/* HEADER MEDIA */



/* Comienzo de barra de progreso */

::-webkit-scrollbar {
    display: none;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ffffff79, #483ebb68, #25205669, #2200e267);
    transition: width 0.3s ease;
}

/* barra de progreso finalizada */

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --text-card: #ffffff8c;
    --fontbonita: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --fonttext: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --boton-hoover: rgba(1, 41, 66, 0.5);
    --background: radial-gradient(ellipse at bottom, #101820 0%, #090a0f 100%);
}

/*HEADER FIN */

html {
    text-decoration: #ffffff;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #101820 0%, #090a0f 100%);
}

main {
    padding: 0px;
    margin: 0px;    

}

.main1 {
    overflow: hidden;
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;

}

.center-main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-items: center;
    align-items: center;
        margin-top: 34px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-child {
    width: 50%;
}

#title {
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: xxx-large;
    letter-spacing: 5px;
    margin-top: -60px;
    width: 50%;
    min-width: 500px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-2 {
    font-size: 1.5rem;
    text-wrap: flex;
    width: 20px;

}

#chester {
    color: #ffffff27;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    font-style: oblique;
}


.container-all {
    display: grid;
    grid-template-rows: 80px 90dvh 50px;
    grid-template-columns: 1fr;
    height: 99dvh;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 0px;
    padding: 0px;
}

.shadow-effect {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0a0a0a56;
    /* Color base del botón */
    transition: box-shadow 0.3s ease-in-out;
    /* Transición suave del efecto de sombra */
}

.shadow-effect:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-style: ridge;
    border-color: #ffffff4b;

    /* Aumenta el desplazamiento y la opacidad de la sombra */
}

.cta {
    display: flex;
    width: max-content;
    text-decoration: none;
    color: inherit;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(1, 41, 66, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta .span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 3px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: rgba(1, 41, 66, 0.5);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

.first-container{
    height: 100dvh;
    width: 100dvw;
}

/*MAIN 2*/

.main2{
    height: auto;
    width: 100dvw;
    color: #FFF;
        background: linear-gradient(hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100%);
}

/* styles.css */


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

}


.container-gallery{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.gallery{
    flex: 25%;
    padding: 5px;
}

@media (max-width: 600px){
    .gallery{
        flex: 100%;
    }
}

@media (max-width: 1000px) {
    .gallery {
        flex: 50%;
    }
}


/* Estilos de imagen */

.image{
    width: 100%;
    margin-top: 5px;
    border-radius: 2em;
    transition: 0.5s ease;
    opacity: 0.8;
    filter: brightness(70%);
    
}

.image:hover{
    cursor: pointer;
    scale: 1.05;
    opacity: 1;
    filter: brightness(100%);

}


