
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --fontbonita: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    --fonttext: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --boton-hoover: rgba(0, 0, 0, 0.5);
    --header: linear-gradient(180deg, rgba(0, 0, 0, 0.636) 0%, rgba(1, 0, 18, 0.533) 30%, rgba(255, 255, 255, 0.008) 100%);
    --font-color: #ffff;
    --primary-color: #11151c;
    --secundary-color: #1a2332;
}
html {
    overflow-x: hidden;
    background: var(--secundary-color);
    
}

h1, p, a{
    font-family: var(--fonttext);
}

body{
    background-color: var(--secundary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Mains */

#main-1 {
    width: 100dvw;
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20dvh;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#main-1 h1{
    font-family: var(--fonttext);
    color: var(--font-color);
    font-size: 4em;
}

#main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    height: 120dvh;
    width: 100dvw;
}

ul, li{
    list-style: none;
}

.container-gallery{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    
}

.images-items{
    width: 100dvw;
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        grid-gap: 3rem;
}

.images-items{
    padding: 0px;
    padding-inline: 100px;
}

.item-picture{
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.133);
}

.pictures{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 0.3s linear;
    filter: saturate(50%);
}



.pictures:hover{
    opacity: 1;

    filter: saturate(100%);
}
