html {
    margin: 0px;
    padding: 0px;
    color: var(--font-color);
}

body {
    margin: 0px;
    padding: 0px;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --fontbonita: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --fonttext: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --boton-hoover: rgba(0, 0, 0, 0.5);
    --header: linear-gradient(180deg, rgba(0, 0, 0, 0.636) 0%, rgba(1, 0, 18, 0.533) 30%, rgba(255, 255, 255, 0.008) 100%);
    --font-color: #000000;
    --primary-color: #000000;
    --secundary-color: #f1f1f1;
    --tree-color: #FFFFFF;
    --transparente: #ffffff00;
    --fondo:
        rgb(12, 6, 27);
    /*
    radial-gradient(ellipse at bottom, #101820 0%, #090a0f 100%)
    
    */
    --medio-black: #0000009a;
    --medio-white: #ffffff29;
}

html {
    overflow-x: hidden;
    background: var(--fondo);
}

* {
    color: #ffffff;
}


#main-1{
    background-color: rgb(22, 22, 22);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
}
header * {
    color: #FFFFFF;
}

.punto{
    color: #FFFFFF;
    width: 8px;
    height: 8px;
    margin: 0px;
    border-radius: 1em;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px yellow ;
    opacity: 0;
    transition: 0.1s linear;


}

.punto:hover{
    opacity: 1;
    animation: loco 5s linear delay iteration-count direction fill-mode;
}
@keyframes loco {
    0%{
        .punto{
            opacity: 0;
        }
    }
    10%{
        .punto {
                opacity: 1;
            }
    }
    100%{
        .punto {
                opacity: 0;
            }
    }
}
