

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


/* Sonido (Musica)*/
.audio {
    background-color:var(--boton-hoover);
    /* Azul */
    cursor: pointer;
    border: none;
    border-radius: 50em;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40PX;
    height: 40px;
    position: fixed;
    display: flex;
        justify-content: center;
        align-items: center;
    margin-left: 30px;
}

/* Imagen de sonido del boton */

.sound-img {
    max-width: 20px;
    filter: invert();
}

.sound-img::after{
    .popupflecha{
        opacity: 0;
    }
}

/* Flecha que señala al boton */
    .popupflecha{
        width: 200px;
        height: 200px;
        position: absolute;
        margin-left: 75px;
        margin-top: 3px;
        
    }

.flecha{
    rotate: 230deg;
    width: 120px;
    filter: invert();
    animation: flecha 7s infinite none;
}

.oculto{
    opacity: 0;
}
.text-flecha{
    margin-left: 30px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 5px;
    animation: text-flecha 7s infinite;
}

@media (max-width: 600px) {
    

}

/* Comienzo de barra de progreso */

::-webkit-scrollbar {
    display: none;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ffffff79, #483ebb68, #25205669, #2200e267);
    transition: width 0.3s ease;
}

/* barra de progreso finalizada */

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --text-card:#ffffff8c;
    --fontbonita: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --fonttext: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    --boton-hoover: rgba(1, 41, 66, 0.5);
}
/*HEADER FIN */

html{
    text-decoration: #ffffff;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #101820 0%, #090a0f 100%);
}
main{
    padding: 0px;
    margin: 0px;

}

.main1{
    overflow: hidden;
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;

}

.center-main{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-items: center;
    align-items: center;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-child{
    width: 50%;
}

#title {
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: xxx-large;
    letter-spacing: 5px;
    margin-top: -60px;
    width: 50%;
    min-width: 500px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-2{
    font-size: 1.5rem;
    text-wrap: flex;
    width: 20px;
    
}

#chester{
    color: #ffffff27;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    font-style: oblique;
}


.container-all{
    display: grid;
    grid-template-rows: 80px 90dvh 50px;
    grid-template-columns: 1fr;
    height: 99dvh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-gap: 0px; padding: 0px;
}

.shadow-effect {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0a0a0a56;
    /* Color base del botón */
    transition: box-shadow 0.3s ease-in-out;
    /* Transición suave del efecto de sombra */
}

.shadow-effect:hover {
    box-shadow: 0px  0px 20px rgba(0, 0, 0, 0.3);
    border-style: ridge;
    border-color: #ffffff4b;
    
    /* Aumenta el desplazamiento y la opacidad de la sombra */
}
.cta {
    display: flex;
    width: max-content;
    text-decoration: none;
    color: inherit;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(1, 41, 66, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta .span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 3px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: rgba(1, 41, 66, 0.5);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

/*MAIN 2*/


.main2{
    width: 100dvw;
    height: 100dvh;
    background-color: #000000;
    box-shadow: 0px 0px 200px 90px black;
    
}



.container-main-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.text-main2{
    display: flex;
    grid-row: 1;
    min-width: 100px;
    max-width: 250px;
    margin-right: 5px;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-family: "lato", sans-serif;
    flex-wrap: wrap;
} 
.containter-cards{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 60%;
    height: 50%;
    margin-left: 5px;
    border-radius: 2em;
    overflow: hidden;
    
}

.cards{
    filter: brightness(0.5);
    width: 150px;
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

.img-card{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.cards:hover{
    flex: 4;
    filter: brightness(1);
}

@media (max-width: 600px) {
    .cards:hover{
        flex: 10;
        
    }
}
.title-card{
    position: absolute;
    z-index: 2;
    bottom: -100px;
    font-family: "lato", sans-serif;
    color: #FFF;
    font-weight: 600;
    font-size: x-large;
    transition: bottom 0.5s ease;
    padding-left: 20px;
}

.container-in-card{
    position: absolute;
    bottom: -120px;
    width: 100%;
    height: 30%;
    transition: 0.5s ease;
    background: linear-gradient( hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100%);
}
.cards:hover{
    .title-card{
        bottom: 30px;
        scale: 1.1;
    }
    .container-in-card{
        bottom: 0px;
    }
}

.text-in-card{
    color: var(--text-card);
    margin-top: 50px;
    padding-left: 15px;
    font-size: x-small;
    font-family:Arial, Helvetica, sans-serif;
}

/* 
estilos de main2 
*/

.main-2-child-main3{
    width: 100dvw;
    height: 100dvh;
    color: var(--white);
}

.main-3-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main-3-container-title{
    height: 100%;
    width:100%;
}
.main-3-contianer-img{
    width:60%;
    height: min-content;
    max-width: 600px;
    display: flex;
    justify-content: center;

}
.animated{
    width: 100%;

}




.title-main-3{
    font-family: var(--fonttext);
    width: 100%;
}

.main-3-text-title{
    font-family: var(--fonttext);
    width: 70%;
}

.main-3-container-child{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}

.button-main-3{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.container-container-child-container-main-3{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: right;
}



/* Botones de contactar y mas info*/

.portfolio-experiment a {
    color: white;
    padding: 0.3em calc(0.3em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.07em;
}

.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: calc(0.1em * 1.2);
    right: calc(0.1em * 1.2);
    height: 2px;
    background: #ffffff;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}

.portfolio-experiment .line {
    position: absolute;
    background: #ffffff;
}

.portfolio-experiment .line.-right,
.portfolio-experiment .line.-left {
    width: 2px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}

.portfolio-experiment .line.-top,
.portfolio-experiment .line.-bottom {
    height: 2px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}

.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}

.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}

.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}

.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: 3px;
    left: 3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}

.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}

.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}