:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000; 
}

html{
    background-color: rgb(86, 86, 86);
    color: var(--white);
}

#logo {
    width: 95px;
}



.headerli,.ali {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header{
    background-color: rgba(0, 0, 0, 0.338);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    width: min-content;
    filter: invert();
    
}

.titulo{
    width: min-content;
    color: #ffffff;
}

.navh{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: right;
}

.headerli{
    display: flex;
    font-size: small;
}


.lili{
    margin: 10px;
}

#proffilefoto {
border-radius: 40px 40px 40px;
margin-left: 20px;
margin-right: 20px;
}


/*A PARTIR DE ACA SE PUEDE QUITAR, 
ES SOLO EL FONDO DEL HTML BONITO 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html,
body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #151414;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(2) {
    margin-left: -25%;
}

.line:nth-child(2)::after {
    animation-delay: 2s;
}

.line:nth-child(5) {
    margin-left: 25%;
}

.line:nth-child(5)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

/*aca termina el codigo bonito */

.todo{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;

}

#back{
        background-image: url(../img/index/stains-texture-background-dark-671314-wallhere.com.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
footer{
    background-color: #0000003b;
    margin: 0px;
}
body{
    margin: 0px;
}

#welcome-png{
    width: 400px;
}

.box-text{
    width: 500px;
    padding-left: 20px;
}

.bienvenida{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.texto{
    color: var(--white);
}

.main1{
    padding-bottom: 5.5%;
    
}



.todo2{
    display: grid;
        min-height: 100dvh;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        margin: 0;
}
.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}
#dos{
    max-width: fit-content;
    color: white;
}

.dostitulo{
    width: 100%;
    display: flex;
    justify-content: center;
}





.slide {
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
                width: 90%;
                height: 90vh;
            }
            .slide-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 90%;
            }
            .slide-open:checked + .slide-item {
                position: static;
                opacity: 100;
            }
            .slide-item {
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                -webkit-transition: opacity 0.6s ease-out;
                transition: opacity 0.6s ease-out;
            }
            .slide-item img {
                display: flex;
                justify-content: center;  
                align-items: center;
                min-height: min-content;
                max-width: 100%;
                min-height: 100dvh;
            }
            .slide-control {
                background: rgba(0, 0, 0, 0.28);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: none;
                font-size: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                cursor: pointer;
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: center;
                width: 40px;
                z-index: 10;
            }
            .slide-control.prev {
                left: 2%;
            }
            .slide-control.next {
                right: 2%;
            }
            .slide-control:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1,
            #slide-2:checked ~ .control-2,
            #slide-3:checked ~ .control-3 {
                display: block;
            }
            .slide-indicador {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
            }
            .slide-indicador li {
                display: inline-block;
                margin: 0 5px;
            }
            .slide-circulo {
                color: #828282;
                cursor: pointer;
                display: block;
                font-size: 35px;
            }
            .slide-circulo:hover {
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1 ~ .slide-indicador 
                 li:nth-child(1) .slide-circulo,
            #slide-2:checked ~ .control-2 ~ .slide-indicador 
                  li:nth-child(2) .slide-circulo,
            #slide-3:checked ~ .control-3 ~ .slide-indicador 
                  li:nth-child(3) .slide-circulo {
                color: #428bca;
            }
            #titulo {
                width: 100%;
                position: absolute;
                padding: 0px;
                margin: 0px auto;
                text-align: center;
                font-size: 27px;
                color: rgba(255, 255, 255, 1);
                font-family: 'Open Sans', sans-serif;
                z-index: 9999;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
                     -1px 0px 2px rgba(255, 255, 255, 0);
            }
